<div class="wrapper">
  <div class="intro">
    <h1>Set <span>Special </span>Meal</h1>
    <p>
      Best cooks and best delivery guys all at your service. Hot tasty food will
      reach you in 60 minutes.
    </p>
  </div>
  <!-- category -->
  <div class="category" >
    <div *ngFor="let category of categories; index as i" class="category-item" [ngClass]="{'active': selectedIndex === i}" (click)="selectCategory(i, category._id!)">
      <img src="../../../assets/images/Rectangle 12908.png" alt="" />
      <h6>{{category.name}}</h6>
    </div>
    
  </div>

  <!-- list menu -->

  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let product of products" class="mx-auto rounded-lg shadow">
      <a href=""
        ><img
          class="px-4 rounded-t-lg mx-auto block "
          style="height: 284px;"
          src={{product.image.url}}
          alt="product image"
      /></a>
      <div class="px-5">
        <a [routerLink]="'/product/'+product._id">
          <h5
            class="font-semibold tracking-tight text-black-900 "
          >
            {{product.name}}
          </h5>
        </a>
        <div class="-ms-0.5 icon flex">
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <p class="text-[#444444] text-[16px]">214 Reviews</p>
        </div>

        <div class="flex price">
          <span class="text-[20px] font-bold text-[#D70018] dark:text-white"
            >${{product.price}}</span
          >
          <button class="bnt">Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
