<div class="wrapper">
  <div class="intro">
    <h1>Set <span>Special </span>Meal</h1>
    <p>
      Best cooks and best delivery guys all at your service. Hot tasty food will
      reach you in 60 minutes.
    </p>
  </div>
  <!-- category -->
  <div class="category">
    <div class="category-item active">
      <img src="../../../assets/images/Rectangle 12908.png" alt="" />
      <h6>Korean Food</h6>
    </div>
    <div class="category-item">
      <img src="../../../assets/images/Rectangle 12908.png" alt="" />
      <h6>Korean Food</h6>
    </div>
    <div class="category-item">
      <img src="../../../assets/images/Rectangle 12908.png" alt="" />
      <h6>Korean Food</h6>
    </div>
  </div>

  <!-- list menu -->

  <div class="grid grid-cols-3 gap-4">
    <div class="mx-auto rounded-lg shadow">
      <a href=""
        ><img
          class="px-4 rounded-t-lg mx-auto"
          src="../../../assets/images/doan2.jpg"
          alt="product image"
      /></a>
      <div class="px-5">
        <a href="/product/64344862086d8f4dadc853ed">
          <h5
            class="font-semibold tracking-tight text-black-900 dark:text-white"
          >
            Jajangmyeon
          </h5>
        </a>
        <div class="-ms-0.5 icon flex">
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <i class="fa-solid fa-star" style="color: #04b90b"></i>
          <p class="text-[#444444] text-[16px]">214 Reviews</p>
        </div>

        <div class="flex price">
          <span class="text-[20px] font-bold text-[#D70018] dark:text-white"
            >$21.99</span
          >
          <button class="bnt">Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
