<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Add New Product</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="container">
        <h1>Tạo mới sản phẩm</h1>

        <div class="form-group">
            <label for="category-name">Tên sản phẩm:</label>
            <input type="text" id="category-name">
        </div>
        <div class="form-group">
            <label for="category-name">Giá:</label>
            <input type="text" id="category-name">
        </div>
        <div class="form-group">
            <label for="category-name">Hình ảnh:</label>
            <input type="file" id="category-name">
        </div>
        <br>
        <div class="form-group ">
            <button>Sửa</button>
        </div>
    </div>
    <!-- /.main-content -->
</div>