<div class="wrapper">
    <div class="intro">
        <h1>19 <span>Michelin</span> Stars Chef </h1>
    </div>

    <div class="row">
        <div class="col-5">
            <img src="../../../assets/images/chef.PNG" alt="">
        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <div class="row right align-content-center">
                <div class="col-8">
                    <h2>Alain Ducasse – 19 Michelin Stars</h2>
                </div>
                <div class="col-4">
                    <button class="view float-right">View All Restaurant-></button>

                </div>
                <div><br></div>
                <br>
                <p>Considered by many to be one of the best chefs in the world, he’s built a business empire over the
                    years
                    with 36 restaurants spanning across the globe. He’s also one of only two chefs to hold 21 Michelin
                    stars
                    throughout his career and the first chef to own restaurants carrying three Michelin Stars in three
                    cities.


                </p>
                <div><br></div>
                <br>
                <p>In addition to being known for world-class French cuisine, Ducasse is the only chef on this list who
                    has
                    sent his food into space. In 2015, Ducasse sent meals to astronauts orbiting Earth aboard the
                    International Space Station, an accomplishment that Ducasse said he viewed as conquering ‘ the final
                    frontier (of cooking)’.</p>
            </div>
        </div>
    </div>
</div>