@import "../../../styles.scss";

.wrapper {
    max-width: 1440px;
    margin: 0 auto;

    flex-direction: column;
}

.intro {
    max-width: 770px;
    margin: 80px auto 32px;
    gap: 1.2rem;
    text-align: left;

    h1 {
        text-align: center;
        font-size: 4.8rem;
        line-height: 5.5rem;
        color: $title-color;
        font-family: title_font;
        text-transform: capitalize;

        span {
            color: $primary-color;
        }
    }

    p {
        color: #777e91;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
}

.select-css {
    border-radius: 5px;
    padding: 5;
}

.price span {
    margin-top: 20px;
    color: #04b90b;
}

.form-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    /* Neutral/3 */

    color: #353945;
}

.bnt {
    width: 117px;
    height: 40px;
    border: 1px solid #04b90b;
    background-color: #04b90b;
    border-radius: 8px;
    color: #fcfcfd;
    margin-top: 18px;
}

h2 {
    width: 226px;
    height: 36px;

    /* Body 1 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    /* Neutral/1 */

    color: #141416;

    opacity: 0.8;
}

.form-control,
.form-select {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    height: 44px;

    /* Neutral/4 */

    border: 1px solid #777E91;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.form-control2 {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 200px;
    height: 44px;

    /* Neutral/4 */

    border: 1px solid #777E91;
    border-radius: 12px;

    /* Inside auto layout */
}