<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Category Page</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h1>Manage Category</h1>
            <hr />
            <br>
            <table class="table-border table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>             
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories; index as i">
                        <td width="50">{{i+1}}</td>
                        <td width="50">{{category.name}}</td>              
                        <td width="50">
                            <button class="btn btn-primary" [routerLink]="'/admin/dashboard/category/edit/'+category._id">
                                Edit
                            </button>
                            <button class="btn btn-danger" (click)="onRemove(category._id!)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- /.main-content -->
</div>