<div class="wrapper">
    <div class="intro">
        <h1>How we keep your <h1>meal <span>Delicious</span></h1>
        </h1>
    </div>
    <div class="row">
        <div class="col-4 item-2">
            <div class="border-icon">
                <i class="fa-solid fa-bowl-food fa-2xl"></i>
            </div>
            <h2>Prepair your Meal</h2>
            <p>That help us know what delicious meal you will try, but I don’t write anything</p>
        </div>
        <div class="col-4 item-1">
            <div class="border-icon">
                <i class="fa-solid fa-utensils fa-2xl"></i>
            </div>

            <h2>Receive The Order</h2>
            <p>That help us know what delicious meal you will try, but I don’t write anything</p>
        </div>

        <div class="col-4 item-1">
            <div class="border-icon">
                <i class="fa-solid fa-truck fa-2xl"></i>
            </div>

            <h2>Delivery Your Meal</h2>
            <p>That help us know what delicious meal you will try, but I don’t write anything</p>
        </div>
    </div>
</div>