<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Product Page</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h1>Manage Product</h1>
            <hr />
            <br>
            <table class="table-border table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Flavor</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ${product.map(item => <tr>${item.name}</tr>)} -->
                    <tr *ngFor="let product of products; index as i">
                        <td width="50">{{i+1}}</td>
                        <td width="50">{{product.name}}</td>
                        <td width="50"><img src={{product.image.url}} alt=""></td>
                        <td width="50">{{product.price}}</td>
                        <td width="50">{{product.flavor}}</td>
                        <td width="50">{{product.description}}</td>
                        <td width="50">{{product.categoryName}}</td>
                        <td width="50">
                            <button class="btn btn-primary">
                                Edit
                            </button>
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- /.main-content -->
</div>