<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Add New Product</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="container">
        <h2>Add New Product</h2>

        <div class="form-group">
            <label>Name:</label>
            <input type="text" id="">
        </div>
        <div class="form-group">
            <label>Price:</label>
            <input type="number" id="">
        </div>
        <div class="form-group">
            <label>Image:</label>
            <input type="file" id="">
        </div>
        <div class="form-group">
            <label>Flavor:</label>
            <input type="text" id="">
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input type="text" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Category</label>
            <select class="form-select form-select-lg" name="" id="">
                <option selected style="font-size: large;">Select one</option>
                <option value="" style="font-size: large;">Đồ ăn</option>
                <option value="" style="font-size: large;">Đồ uống</option>
            </select>
        </div>
        <br>
        <div class="form-group ">
            <button>Add New</button>
        </div>
    </div>
    <!-- /.main-content -->
</div>