<div class="wrapper">

    <div class="row">
        <div class="intro col-5">
            <h1>You've Got Questions. </h1>
            <h1>We've Got Taste. </h1>
            <p>Explore your Taste with speacial food in the special place. This text don’t have any meaning</p>
            <button class="bnt"><a href="" routerLink="menu">ORDER NOW</a></button>
            <a href="" routerLink="menu"><button>Explore menu</button></a>
            <br>
            <div class="row more-infor">
                <div class="col">
                    <p style="text-align: center;">9+</p>
                    <p style="text-align: center;">years of service</p>
                </div>
                <div class="col">
                    <p style="text-align: center;">120+</p>
                    <p style="text-align: center;">Store in the world</p>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="float-right" style="margin-top: 100px ;">
                <img src="../../../assets/images/banner.png" style="max-width: 700px;">
            </div>
        </div>
    </div>


</div>