@import "../../../styles.scss";

.wrapper {
    max-width: 1380px;
    margin: 0 auto;

    flex-direction: column;
}

.intro {
    max-width: 770px;
    margin: 80px auto 32px;
    gap: 1.2rem;
    text-align: left;

    h1 {
        font-size: 4.8rem;
        line-height: 5.5rem;
        color: $title-color;
        font-family: title_font;
        text-transform: capitalize;

        span {
            color: $primary-color;
        }


    }

    p {
        color: #777e91;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
    }
}



.p {
    width: 42px !important;
    height: 48px !important;
    text-align: center !important;
    font-family: 'Poppins' !important;
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 48px !important;
    color: #777E91;
    word-spacing: 3px;
}

.price span {
    margin-top: 20px;
    color: #04b90b;
}

.bnt {
    width: 137px;
    height: 44px;
    border: 1px solid #04b90b;
    background-color: #04b90b;
    border-radius: 8px;
    color: #fcfcfd;
    margin-top: 38px;
}

.bnt {
    margin-right: 10px;
}

a[routerLink="menu"] button {
    margin-left: 10px;
    color: #04b90b;
    font-weight: 500;
}

.more-infor {
    margin-top: 158px;
    padding: 28px 56px;
    gap: 60px;
    width: 576px;
    height: 134px;
    left: 72px;
    top: 714px;
    text-align: justify center;
    /* Neutral/7 */

    background: #F4F5F6;
    border-radius: 16px;
}